n8n/workflows/workflow_a_crawler.json
{
  "name": "Workflow A - Loan Product Discovery (Web Crawler)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// List of financial websites to crawl\nconst websites = [\n  {\n    name: 'BankBazaar',\n    url: 'https://www.bankbazaar.com/personal-loan.html',\n    type: 'aggregator'\n  },\n  {\n    name: 'PaisaBazaar',\n    url: 'https://www.paisabazaar.com/personal-loan/',\n    type: 'aggregator'\n  },\n  {\n    name: 'HDFC Bank',\n    url: 'https://www.hdfcbank.com/personal/borrow/popular-loans/personal-loan',\n    type: 'bank'\n  }\n];\n\nreturn websites.map(site => ({ json: site }));"
      },
      "id": "define-websites",
      "name": "Define Target Websites",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "fetch-page",
      "name": "Fetch Web Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Extract loan product information from HTML\nconst html = $input.first().json.data || '';\nconst websiteName = $('Define Target Websites').first().json.name;\nconst websiteUrl = $('Define Target Websites').first().json.url;\n\n// Helper function to clean text\nfunction cleanText(text) {\n  return text ? text.replace(/\\s+/g, ' ').trim() : '';\n}\n\n// Helper function to extract numbers\nfunction extractNumber(text) {\n  const match = text?.match(/[\\d,.]+/);\n  return match ? parseFloat(match[0].replace(/,/g, '')) : null;\n}\n\n// Basic HTML parsing patterns\nconst products = [];\n\n// Pattern matching for loan products (simplified)\n// In production, use proper HTML parsing libraries\nconst loanPatterns = [\n  /personal[\\s-]?loan[^<]*interest[^<]*([\\d.]+)%/gi,\n  /([\\d.]+)%[^<]*interest[^<]*personal[\\s-]?loan/gi\n];\n\n// Extract interest rates mentioned on page\nconst interestMatches = html.match(/([\\d]+\\.?[\\d]*)%\\s*(p\\.?a\\.?|per\\s*annum)?/gi) || [];\nconst incomeMatches = html.match(/(?:min(?:imum)?|monthly)\\s*income[:\\s]*(?:rs\\.?|₹)?\\s*([\\d,]+)/gi) || [];\n\n// Create a generic product entry based on page content\nif (html.length > 0) {\n  products.push({\n    product_id: `${websiteName.toUpperCase().replace(/\\s/g, '_')}_CRAWLED_${Date.now()}`,\n    product_name: `Personal Loan - ${websiteName}`,\n    provider_name: websiteName,\n    interest_rate_min: extractNumber(interestMatches[0]) || 10.5,\n    interest_rate_max: extractNumber(interestMatches[1]) || 24.0,\n    min_loan_amount: 25000,\n    max_loan_amount: 5000000,\n    min_monthly_income: extractNumber(incomeMatches[0]) || 15000,\n    min_credit_score: 650,\n    max_credit_score: 900,\n    required_employment_status: 'salaried,self-employed',\n    min_age: 21,\n    max_age: 60,\n    source_url: websiteUrl,\n    source_website: websiteName,\n    raw_criteria: {\n      interest_matches: interestMatches.slice(0, 5),\n      income_matches: incomeMatches.slice(0, 3),\n      crawled_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn products.map(p => ({ json: p }));"
      },
      "id": "extract-products",
      "name": "Extract Loan Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "prompt",
        "modelId": "gemini-1.5-flash",
        "promptType": "define",
        "text": "=You are a loan product data extractor. Analyze this webpage content and extract structured loan product information.\n\nWebpage content (truncated):\n{{ $json.raw_criteria?.page_content?.substring(0, 3000) || 'No content available' }}\n\nExtract and return a JSON object with:\n- product_name: Name of the loan product\n- interest_rate_min: Minimum interest rate (number)\n- interest_rate_max: Maximum interest rate (number)\n- min_loan_amount: Minimum loan amount in INR (number)\n- max_loan_amount: Maximum loan amount in INR (number)\n- min_monthly_income: Minimum monthly income required (number)\n- min_credit_score: Minimum credit score required (number, 300-900)\n- required_employment_status: Who can apply (string like 'salaried,self-employed')\n- min_age: Minimum age (number)\n- max_age: Maximum age (number)\n\nIf any field cannot be determined, use reasonable defaults for Indian personal loans.\n\nRespond with ONLY the JSON object, no explanations.",
        "options": {}
      },
      "id": "ai-extract",
      "name": "AI Extract Details",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1050, 200],
      "continueOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO loan_products (\n  product_id, product_name, provider_name,\n  interest_rate_min, interest_rate_max,\n  min_loan_amount, max_loan_amount,\n  min_tenure_months, max_tenure_months,\n  min_monthly_income, min_credit_score, max_credit_score,\n  required_employment_status, min_age, max_age,\n  source_url, source_website, raw_criteria\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, 12, 60, $8, $9, $10, $11, $12, $13, $14, $15, $16::jsonb\n)\nON CONFLICT (product_id) DO UPDATE SET\n  product_name = EXCLUDED.product_name,\n  interest_rate_min = EXCLUDED.interest_rate_min,\n  interest_rate_max = EXCLUDED.interest_rate_max,\n  min_monthly_income = EXCLUDED.min_monthly_income,\n  min_credit_score = EXCLUDED.min_credit_score,\n  last_updated = CURRENT_TIMESTAMP\nRETURNING *;",
        "options": {
          "queryParams": "={{ [\n  $json.product_id,\n  $json.product_name,\n  $json.provider_name,\n  $json.interest_rate_min,\n  $json.interest_rate_max,\n  $json.min_loan_amount,\n  $json.max_loan_amount,\n  $json.min_monthly_income,\n  $json.min_credit_score,\n  $json.max_credit_score,\n  $json.required_employment_status,\n  $json.min_age,\n  $json.max_age,\n  $json.source_url,\n  $json.source_website,\n  JSON.stringify($json.raw_criteria)\n].join(',') }}"
        }
      },
      "id": "save-to-db",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1050, 400],
      "credentials": {
        "postgres": {
          "id": "loan-db",
          "name": "Loan Eligibility DB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO crawl_logs (\n  source_website, source_url, status, products_found, products_added,\n  started_at, completed_at, duration_seconds\n) VALUES (\n  $1, $2, $3, $4, $5, $6, CURRENT_TIMESTAMP,\n  EXTRACT(EPOCH FROM (CURRENT_TIMESTAMP - $6::timestamp))::integer\n);",
        "options": {}
      },
      "id": "log-crawl",
      "name": "Log Crawl Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1250, 400],
      "credentials": {
        "postgres": {
          "id": "loan-db",
          "name": "Loan Eligibility DB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow A: Loan Product Discovery\n\n**Purpose:** Crawl financial websites daily to discover and update loan products.\n\n**Flow:**\n1. Scheduled trigger (daily)\n2. Define target websites\n3. Fetch webpage content\n4. Extract loan product information\n5. Optionally use AI for complex extraction\n6. Store in PostgreSQL database\n7. Log crawl results\n\n**Note:** Configure PostgreSQL credentials before running."
      },
      "id": "note",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 100]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Define Target Websites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Target Websites": {
      "main": [
        [
          {
            "node": "Fetch Web Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Web Page": {
      "main": [
        [
          {
            "node": "Extract Loan Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Loan Products": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Log Crawl Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "loan-eligibility",
      "id": "1"
    },
    {
      "name": "crawler",
      "id": "2"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
