n8n/workflows/workflow_c_notification.json
{
  "name": "Workflow C - User Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notification-trigger",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "notification-trigger"
    },
    {
      "parameters": {
        "jsCode": "// Extract notification request info\nconst batchId = $input.first().json.body?.batchId || $input.first().json.batchId;\nconst matchCount = $input.first().json.body?.matchCount || $input.first().json.matchCount || 0;\n\nreturn [{\n  json: {\n    batchId,\n    matchCount,\n    startTime: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-payload",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  m.user_id,\n  u.email,\n  u.monthly_income,\n  u.credit_score,\n  array_agg(DISTINCT m.product_id) as product_ids,\n  array_agg(DISTINCT p.product_name) as product_names,\n  array_agg(DISTINCT p.provider_name) as providers,\n  array_agg(m.match_id::text) as match_ids,\n  COUNT(*) as match_count,\n  AVG(m.match_score) as avg_score\nFROM matches m\nJOIN users u ON m.user_id = u.user_id\nJOIN loan_products p ON m.product_id = p.product_id\nWHERE m.batch_id = $1 \n  AND m.notification_sent = false\nGROUP BY m.user_id, u.email, u.monthly_income, u.credit_score\nORDER BY avg_score DESC;",
        "options": {
          "queryParams": "={{ $json.batchId }}"
        }
      },
      "id": "fetch-pending",
      "name": "Fetch Pending Notifications",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "loan-db",
          "name": "Loan Eligibility DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate personalized email content for each user\nconst user = $input.first().json;\n\nconst productList = user.product_names\n  .map((name, idx) => {\n    return `• ${name} (${user.providers[idx]})`;\n  })\n  .join('\\n');\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n    .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n    .product-card { background: white; padding: 15px; margin: 10px 0; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .cta-button { display: inline-block; background: #667eea; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; margin-top: 20px; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 12px; }\n    .score-badge { display: inline-block; background: #4CAF50; color: white; padding: 3px 10px; border-radius: 15px; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🎉 Great News!</h1>\n      <p>You're Pre-Qualified for Personal Loans</p>\n    </div>\n    <div class=\"content\">\n      <p>Dear Valued Customer,</p>\n      \n      <p>Based on your profile (Credit Score: <strong>${user.credit_score}</strong>), we've found <strong>${user.match_count} loan product(s)</strong> that you may be eligible for:</p>\n      \n      ${user.product_names.map((name, idx) => `\n      <div class=\"product-card\">\n        <h3>${name}</h3>\n        <p><strong>Provider:</strong> ${user.providers[idx]}</p>\n        <span class=\"score-badge\">Match Score: ${Math.round(user.avg_score)}%</span>\n      </div>\n      `).join('')}\n      \n      <p>These offers are selected based on your credit profile and income. Interest rates and terms may vary based on final verification.</p>\n      \n      <center>\n        <a href=\"#\" class=\"cta-button\">Explore Your Offers</a>\n      </center>\n      \n      <p style=\"margin-top: 30px;\">Best Regards,<br>The Loan Eligibility Team</p>\n    </div>\n    <div class=\"footer\">\n      <p>This is an automated notification. Please do not reply to this email.</p>\n      <p>If you have any questions, contact our support team.</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nconst emailText = `\nGreat News! You're Pre-Qualified for Personal Loans\n\nDear Valued Customer,\n\nBased on your profile (Credit Score: ${user.credit_score}), we've found ${user.match_count} loan product(s) that you may be eligible for:\n\n${productList}\n\nThese offers are selected based on your credit profile and income.\n\nBest Regards,\nThe Loan Eligibility Team\n`;\n\nreturn [{\n  json: {\n    ...user,\n    emailSubject: `🎉 You're Pre-Qualified for ${user.match_count} Personal Loan(s)!`,\n    emailHtml,\n    emailText\n  }\n}];"
      },
      "id": "generate-email",
      "name": "Generate Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourdomain.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.emailSubject }}",
        "body": "={{ $json.emailHtml }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Send via AWS SES",
      "type": "n8n-nodes-base.awsSes",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "aws": {
          "id": "aws-ses",
          "name": "AWS SES Credentials"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Log the notification\nINSERT INTO notification_logs (\n  user_id, email, subject, status, match_ids, ses_message_id\n) VALUES (\n  $1, $2, $3, $4, $5, $6\n);\n\n-- Mark matches as notified\nUPDATE matches \nSET \n  notification_sent = true,\n  notification_sent_at = CURRENT_TIMESTAMP\nWHERE match_id = ANY($5::uuid[]);",
        "options": {}
      },
      "id": "log-notification",
      "name": "Log Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1250, 300],
      "credentials": {
        "postgres": {
          "id": "loan-db",
          "name": "Loan Eligibility DB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Calculate summary stats\nconst items = $input.all();\nconst successful = items.filter(i => !i.json.error).length;\nconst failed = items.filter(i => i.json.error).length;\n\nreturn [{\n  json: {\n    summary: 'Notification workflow completed',\n    totalProcessed: items.length,\n    successful,\n    failed,\n    completedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "content": "## Workflow C: User Notification\n\n**Purpose:** Send personalized email notifications to users about their matched loan products.\n\n**Flow:**\n1. Webhook receives trigger from Workflow B\n2. Fetch pending notifications (users with matches)\n3. Generate personalized HTML email\n4. Send via AWS SES\n5. Log notification and mark matches as notified\n\n**Prerequisites:**\n- Configure AWS SES credentials in n8n\n- Verify sender email in SES\n- Verify recipient emails (or exit SES sandbox mode)"
      },
      "id": "note",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 100]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Fetch Pending Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Notifications": {
      "main": [
        [
          {
            "node": "Generate Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email Content": {
      "main": [
        [
          {
            "node": "Send via AWS SES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via AWS SES": {
      "main": [
        [
          {
            "node": "Log Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Notification": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "loan-eligibility",
      "id": "1"
    },
    {
      "name": "notification",
      "id": "4"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
